.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  border-radius: 999px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  width: 44px;
  height: 44px;
}

.button:active {
  transform: translateY(1px);
}

.icon {
  position: relative;
  width: 24px;
  height: 24px;
  display: block;
}
