.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.container {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 530px;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-align: center;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-align: center;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
}

.textRegular {
  font-weight: 400;
  margin: 0;
}

.textMedium {
  font-weight: 500;
  margin: 0;
}

.inputSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 16px;
}

.label {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
  text-align: center;
  margin: 0;
}

.inputWrapper {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 14px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
  max-width: 382px;
  box-sizing: border-box;
  /* cursor: pointer; */
}

.inputValue {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.buttonGroup {
  display: flex;
  gap: 24px;
  width: 100%;
  justify-content: center;
}

.button {
  flex: 1;
}
