.container {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;
  box-sizing: border-box;
}

.bar {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 24px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3);
  flex: 1;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 999px;
  box-sizing: border-box;
}

.text {
  font-family: "Satoshi Variable", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #000000;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
