.wrapper {
  width: 100%;
  height: 316px;
  cursor: pointer;
  /* max-width: 528px; */
}

.card {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #ffffff;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.topBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
}

.tags {
  color: #5e349e;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  margin-right: 8px;
}

.title {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 8px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0;
}

.location {
  color: #333333;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 8px;
}

.timeRow {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 8px;
}

.date,
.timestamp {
  color: #333333;
  font-size: 20px;
  line-height: 24px;
}

.excerpt {
  color: #000000;
  font-size: 20px;
  line-height: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0;
}
