.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.mapArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 620px;
  height: 100%;
  padding: 20px 40px 20px 40px;
  box-sizing: border-box;
  background: linear-gradient(180deg, rgba(55, 31, 94, 1) 0%, rgba(0, 0, 0, 0.9) 30.29%);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 10;
}

.title {
  font-family: "Satoshi Variable", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: #ffffff;
  text-align: center;
  margin-top: 35px;
}

.sort {
  align-self: flex-end;
}

.reportList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
  flex: 1;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  align-self: center;
}

.reportList::-webkit-scrollbar {
  display: none;
}

.locationBarWrapper {
  position: absolute;
  top: 48px;
  /* left: calc(41.67% + 42px);
  width: 792px; */
  left: calc(620px + 40px);
  right: 40px;
  z-index: 20;
}

.mapPin {
  position: absolute;
  transform: translate(-50%, -50%);
  color: #8449df;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.logoWrapper {
  z-index: 999;
  position: absolute;
  top: 22px;
  left: 230px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 26px;
  font-weight: 500;
  color: #fff;
}

.logo {
  width: 30px;
}
